USE [master]
GO
/****** Object:  Database [dbFiles]    Script Date: 9/28/2012 5:48:32 PM ******/
CREATE DATABASE [dbFiles]
GO
USE [dbFiles]
GO
/****** Object:  Table [dbo].[tblFiles]    Script Date: 9/28/2012 5:48:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblFiles](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[ContentType] [nvarchar](200) NOT NULL,
	[Data] [varbinary](max) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
